.resources {
  box-sizing: border-box;
}

.resources-header a:link,
a:visited {
  text-decoration: none;
  padding: 20px;
  color: black;
}

.resources-header {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.link-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}
