.resources {
  box-sizing: border-box;
}

h3.pointer {
  cursor: pointer;
}
h3:hover {
  background-color: #ccc;
}

.resourcesHeader {
  display: inline;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  align-items: center;
}

.linkList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}
